<!-- status.html -->
{% extends "home/base.html" %}
{% load static %}

{% block title %}Status{% endblock %}

{% block content %}
<h2 class="page-title">Status</h2>
<div class="separator"></div>
<div class="columns text-box col-3">
	<div class="column w100">
		<div>Mailserver <i class="active-icon mr-2"></i>
		</div>
	</div>
</div>
<div class="columns text-box col-3">
	<div class="column w100">
		<div>Audiobookshelf <i class="active-icon mr-2"></i>
		</div>
	</div>
</div>
<div class="columns text-box col-3">
	<div class="column w100">
		<div>Jellyfin <i class="active-icon mr-2"></i>
		</div>
	</div>
</div>
<div class="columns text-box col-3">
	<div class="column w100">
		<div>Hydrus <i class="active-icon mr-2"></i>
		</div>
	</div>
</div>
{% endblock %}
