<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% load static %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/header.css' %}">
    <script src="{% static 'js/htmx.min.js' %}"></script>

    <title>Between (The) Zero And (The) One</title>
</head>

<body class="page-centered">
	{% include "header.html" %}
	<main>
		<h2 class="page-title">A digital haunt in an analogue life</h2>
		<div class="separator"></div>
		<div class="content-section">
			<div class="text-box">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices, ligula a finibus hendrerit, risus augue finibus odio, ut aliquet ipsum velit vel ante. Pellentesque consectetur diam vel arcu suscipit, quis interdum libero mattis. Aliquam tincidunt felis nec sodales euismod.</p>
			</div>
			<div class="image-box">
				<img src="{% static 'images/sample_image.gif' %}" alt="Sample Image">
			</div>
		</div>
	</main>
</body>
</html>
