<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
	<script type="importmap"> { 
		"imports": {
			"three": "https://esm.sh/three",
			"three/addons/": "https://esm.sh/three/examples/jsm/"
		}
	}
	</script>
    <script src="{% static 'nostramo/js/htmx.min.js' %}"></script>
    <script src="{% static 'nostramo/js/jquery-3.7.1.min.js' %}"></script>
	<script src="{% static 'nostramo/js/main.js' %}" type="module"></script>
	<script const country_data="{% static 'nostramo/data/ne_110m_admin_0_countries.geojson' %}";></script>
    <link rel="stylesheet" href="{% static 'nostramo/css/output.css' %}">
	<link rel="icon" type="image/png" href="{% static 'nostramo/favicon/favicon-96x96.png' %}" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="{% static 'nostramo/favicon/favicon.svg' %}" />
	<link rel="shortcut icon" href="{% static 'nostramo/favicon/favicon.ico' %}" />
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'nostramo/favicon/apple-touch-icon.png' %}" />
	<meta name="apple-mobile-web-app-title" content="Between (The) Zero And (The) One" />
	<link rel="manifest" href="{% static 'nostramo/favicon/site.webmanifest' %}" />
    <title>{% block title %}Page Title{% endblock %}</title>
</head>
<body>
	{% block content %}
	{% endblock %}
</body>
</html>

